@import url('http://fonts.googleapis.com/css?family=Lobster')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,900,900italic,700italic,500italic,500,700')

// @font-face {
//   font-family: 'Proxima Nova Light';
//   src: url('/fonts/ProximaNova-Light.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Regular';
//   src: url('/fonts/ProximaNova-Regular.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Semibold';
//   src: url('/fonts/ProximaNova-Semibold.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Bold';
//   src: url('/fonts/ProximaNova-Bold.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Extrabold';
//   src: url('/fonts/ProximaNova-Extrabold.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Black';
//   src: url('/fonts/ProximaNova-Black.otf') format('opentype')
// }
@font-face {
  font-family: 'Proxima Nova Cond Light';
  src: url('/fonts/ProximaNovaCond-Light.otf') format('opentype')
}
// @font-face {
//   font-family: 'Proxima Nova Cond Regular';
//   src: url('/fonts/ProximaNovaCond-Regular.otf') format('opentype')
// }
// @font-face {
//   font-family: 'Proxima Nova Cond Semibold';
//   src: url('/fonts/ProximaNovaCond-Semibold.otf') format('opentype')
// }