*
  box-sizing border-box

body
  margin 0
  color #FFF
  background #280000 url("/images/dark-red-christmas-background.jpg") fixed 100%
  &.no-scroll
    overflow hidden
    
body, input, textarea, button, select
  font-family 'Proxima Nova Light'
  outline none

#app
  margin 0 auto
  max-width 1280px
  width 100%

.content
  padding 30px
  background rgba(255, 0, 0, 0.2)
  +desktop()
    padding 40px 60px

#snowfall
  position absolute
  display block
  pointer-events none
  top 0
  left 0

.profileBox
  width 100%
  height 300px
  
  .profPicture
    width 150px
    height 150px
    border-radius 50%
    background white
    float left
    
  .profPM
    position absolute
    margin-top 165px
    width 150px
    border-radius 3px
    background rgba(0,0,0,0.2)
    height 27px
    line-height 30px
    text-align center
    font-size 12px
    cursor pointer
    
  .profName, .profAge, .profText
    display table
    width calc(100% - 170px)
    margin-left 20px
    float right
    
  .profName
    margin-top 10px
    font-size 25px
    font-weight 100
    font-family Lobster
    line-height 30px
  
  .profAge
    font-size 14px
    color rgba(255,255,255,0.5)
    
  .profText
    margin-top 10px
    color rgba(255,255,255,0.7)
    font-size 14px
    
    .profTextBox
      width 500px
      float left
    