*
  box-sizing border-box

body
  margin 0
  font-family 'Proxima Nova Light'
  // font-size 17px
  // line-height 1.4
  color #FFF
  background #280000 url('/images/dark-red-christmas-background.jpg') fixed 100%

#app
  margin 0 auto
  max-width 1280px
  width 100%

.content
  padding 30px
  background rgba(0, 0, 0, 0.2)

  // Larger than tablet
  @media (min-width: 1000px)
    padding 40px 60px

#snowfall
  position absolute
  display block
  pointer-events none
  top 0
  left 0
  z-index -1
  
.wish
  display inherit
  padding 20px 20px 10px 20px
  background rgba(255,0,0,0.2)
  border-radius 5px
  margin-bottom 20px
  
  input
    width 100%
    border 0px
    margin 0px 0px 10px 0px
    background rgba(255,255,255,0.15)
    &:focus
      border 0px
      
  input[type=submit]
    color white
    margin-top -20px
    
  textarea
    width 100%
    resize none
    height 100px
    background rgba(255,255,255,0.15)
    border 0px
    margin-bottom 8px
