*
  box-sizing border-box

body
  margin 0
  font-family 'Lato', sans-serif
  text-rendering geometricPrecision
  font-size 15px
  color #333
  color #FFF
  background #280000 url('/images/dark-red-christmas-background.jpg') fixed 100%

#app
  max-width 1000px
  margin 0 auto

.content
  width 100%
  padding 20px
  background rgba(0, 0, 0, 0.1)
  h1
    margin-top 0
    font-weight 100

#snowfall
  position absolute
  pointer-events none
  top 0
  left 0