.Article
  margin-bottom 30px
  padding-bottom 30px
  border-bottom 2px solid rgba(255, 255, 255, 0.4)
  header
    display flex
    align-items center
    height 50px
    margin-bottom 20px
    .ProfilePicture
      width 50px
      height 50px
      margin-right 10px
    .user
      display flex
      flex-direction column
      justify-content space-between
      height 46px
      a
        display table
        color #FFF
        &:hover
          border-bottom 1px solid

    .TimeSince
      color rgba(255, 255, 255, 0.53)