.emoji
  height 24px
  vertical-align bottom
  margin-right .1em

.Comments
  .mainForm
    margin-bottom 20px
    textarea
      width 100%
      min-height 125px
      margin-bottom 6px
      padding 14px
      font-size 14px
      resize none
      color #333
      border-radius 3px
      background #FFF

    button
      width 100%
      padding 10px 0
      color #FFF
      border-radius 3px
      background rgba(255, 255, 255, 0.19)

.Thread
  .options
    margin-top -20px
    margin-bottom 20px
    padding-left 60px
    font-size 14px
    color rgba(255, 255, 255, 0.39)
    .option
      margin-right 10px
      cursor pointer

  .reply
    margin-top -10px
    margin-bottom 20px
    padding-left 60px
    .replyInput
      width 100%
      padding 10px
      font-size 14px
      color #333
      border-radius 3px
      background #FFF

  .replies
    margin-left 20px
    padding-left 20px
    border-left 1px solid rgba(255, 255, 255, 0.2)

.Comment
  displayFlex()
  position relative
  margin-bottom 20px
  font-size 14px
  .ProfilePicture
    width 50px
    height 50px
    margin-right 10px

  .content
    width calc(100% - 60px)

  header
    displayFlex()
    align-items center
    margin-bottom 4px
    .TimeSince
      color rgba(255, 255, 255, 0.53)
    a
      margin-right 5px
      color #FF6161
      hardcoreHyphens()
      &:hover
        margin-bottom -1px
        border-bottom 1px solid

  .text
    hyphens()
    a
      color rgba(255, 255, 255, 0.7)
      &.highlight
        color #FF0
      &:hover
        border-bottom 1px solid

  .delete
    position absolute
    right 0
    top 0
    color #FFF
    background none
    opacity 0.2
    cursor pointer
    &:hover
      opacity 0.5