.Comments
  .mainForm
    margin-bottom 20px
    textarea
      width 100%
      height 100px
      margin-bottom 10px
      padding 14px
      font-size 14px
      resize none
      color #333
      border-radius 3px
      background #FFF

    button
      width 100%
      padding 10px 0
      color #FFF
      border-radius 3px
      background rgba(255, 255, 255, 0.19)
  
.Comment
  position relative
  padding 10px 0px
  border-top 1px solid rgba(255,255,255,0.2)
  form    // temp as hell
    display none
  &:hover form
    display block
  header
    display flex
    align-items center
    margin-bottom 20px
    .ProfilePicture
      width 50px
      height 50px
      margin-right 10px
    .user
      display flex
      flex-direction column
      .TimeSince
        color rgba(255, 255, 255, 0.53)
      a
        display table
        color #FFF
        margin-bottom -1px
        border-bottom 1px solid transparent
        hardcoreHyphens()
        &:hover
          border-color inherit

  .text
    margin-left 60px
    margin-top 10px
    font-size 14px
    hyphens()
    a
      color rgba(255, 255, 255, 0.7)
      &.highlight
        color #FF0
      &:hover
        border-bottom 1px solid

  .delete
    position absolute
    right 0px
    top 0px
    color white
    background none
    padding 5px 10px 0px 0px
    border 0px
    opacity 0.2
    cursor pointer
    &:hover
      opacity 0.5