.tweet
  padding 10px
  background rgba(0, 0, 0, 0.15)
  margin-bottom 10px
  border-radius 3px
  overflow hidden
  
  a
    text-decoration none
    color #FFF
    &:hover
      border-bottom 1px solid
  
  img
    border-radius 50%
    width 30px
    float left
    
  a
    font-weight 400
    height 30px
    line-height 30px
    margin-left 10px
    
  .text
    display block
    color rgba(255,255,255,0.7)
    margin 5px 0 0 0