<!DOCTYPE html>
<html>
<head>
  <title>Julradio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/julradio.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div id="app"></div>
  <script>
  window.__USER__ = <%- user ? JSON.stringify(user) : 'null' %>
  </script>
  <script src="/vendor.js"></script>
  <script src="/app.js"></script>
</body>
</html>