<!DOCTYPE html>
<html lang="sv">
<head>
  <title>Julradio</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <link rel="stylesheet" href="/julradio.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
  <link rel="icon" href="/images/favicon.png">
</head>
<body>
  <div id="root"></div>
  <script>
  window.__USER__ = <%- user ? JSON.stringify(user) : 'null' %>
  window.__TIMEDIFFERENCE__ = <%- Date.now() %> - Date.now()
  </script>
  <script src="/vendors.js"></script>
  <script src="/app.js"></script>
</body>
</html>