#admin
  .group
    margin-bottom 10px
  h4
    margin 0
  input, textarea, button
    width 100%
    margin-bottom 5px
    padding 10px
    color #000
    background #FFF
    border none
    border-radius 3px
  textarea
    height 400px
    resize vertical
  button
    width auto
    padding 5px 10px
    
  .group a, .list a
    display block
    color #FFF
    text-decoration none
    cursor pointer
    
  .adminMenu
    margin: -40px 20px -40px -60px;
    width: 240px;
    padding: 40px;
    background-color: rgba(255, 0, 0, 0.1);
    
  a
    color rgba(255,255,255,0.5) !important
    
  .adminContent
    padding 0px 20px
    width calc(100% - 240px)