#admin
  .group
    margin-bottom 10px
  h4
    margin 0
  input, textarea
    width 100%
    padding 14px
    border none
    color #000
    background #FFF
    border-radius 3px
  textarea
    height 400px
    resize vertical
  button
    color #FFF
    border 2px solid
    margin-right 10px
    
  .group a, .list a
    color #FFF
    display block
    cursor pointer
    text-decoration none