#admin
  .group
    margin-bottom 10px
  h4
    margin 0
  input, textarea, button
    width 100%
    margin-bottom 5px
    padding 10px
    color #000
    background #FFF
    border none
    border-radius 3px
  textarea
    height 400px
    resize vertical
  button
    width auto
    padding 5px 10px
    
  .group a, .list a
    display block
    color #FFF
    text-decoration none
    cursor pointer