#ArticleArchive
  display flex
  flex-direction row
  flex-wrap wrap
  .article
    background rgba(255, 14, 14, 0.1)
    padding 20px
    width 25%
    margin 5px
    flex 1 1 auto
    padding 20px
    background rgba(255, 0, 0, 0.16)
    border-radius 4px
    border-bottom 3px solid rgba(0, 0, 0, 0.12)
    h3
      font-size 28px
    p
      margin 0