.ArticleComment
  border-bottom 1px solid rgba(255,255,255,0.2)
  padding 10px 0px
  .ProfilePicture
    width 50px
    height 50px
    float left
    
  .commentUser
    display block
    height 30px
    margin-left 60px
    line-height 38px
    &:hover
      border-bottom 1px solid
    
  .commentText
    margin-left 60px
    margin-top 10px
    font-size 14px
  
  .TimeSince
    display block
    font-size 12px
    height 20px
    margin-left 60px
    line-height 12px
    color rgba(255,255,255,0.5)
    
.commentsInput
  background #FFF !important
  border-radius 3px !important
  margin 10px 0px !important
  padding 14px 10px 10px 14px !important
  width 50% !important
  color #333 !important