#CosyCorner
  width 70%
  float left
  h1
    padding-bottom 10px
    font-family Lobster
    text-align center
    border-bottom 1px solid rgba(255, 255, 255, 0.17)
    
#OnlineList
  position absolute
  top 0
  right 0px
  height 100vh
  width 30%
  float right
  padding 15px
  background rgba(0,0,0,0.05)
  
  h1
    font-family: Lobster;
    font-size: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.17);
    text-align: center;
    padding: 10px 0px;
    margin-top: 39px;
  
  .person
    margin: 10px;
    display: table;
    width: 100%;
    line-height: 34px;
    
    .picture
      width 34px
      height 34px
      border-radius 50%
      background white
      float left
      margin-right 10px
      
    .username
      float left
      color #ff6161