#CosyCorner
  displayFlex()
  flex-direction column-reverse
  margin -20px
  +tablet()
    flex-direction row
    margin -40px

  .cosyCornerInner
    width 100%
    padding 20px
    +tablet()
      width 70%
      padding 40px 15px 40px 40px
    h1
      padding-bottom 10px
      font-family Lobster
      text-align center
      border-bottom 1px solid rgba(255, 255, 255, 0.17)

  .onlineList
    padding 5px
    background #790c0c
    overflow-x scroll
    white-space nowrap
    h1
      display none
      font-family Lobster
      font-size 30px
      border-bottom 1px solid rgba(255,255,255,0.17)
      text-align center
      padding 10px 0px
      margin-top 39px
    .list
      displayFlex()
    .search
      margin 5px
      .inner
        displayFlex()
        justify-content center
        align-items center
        width 34px
        height 34px
        background #a72625
        border-radius 50%

    .User
      margin 5px
      .ProfilePicture
        width 34px
        height 34px
        border-radius 50%
        
    .search .searchText, .User .username
      display none


    +tablet()
      width 30%
      padding 15px
      background rgba(0,0,0,0.05)
      overflow-x hidden
      h1
        display block
      .list
        flex-direction column
      .search
        displayFlex()
        align-items center
        margin 5px 0 20px
        .inner
          margin-right 10px
      .User
        displayFlex()
        align-items center
        margin 5px 0
        .ProfilePicture
          margin-right 10px
        .username
          color #ff6161

      .search:hover .searchText, .User:hover .username
        border-bottom 1px solid
      .search .searchText, .User .username
        display inline
