#front
  width 100%
  .scheduleBox
    background rgba(0,0,0,0.15)
    padding 20px
    margin-bottom 30px
    h1, h2, h3, h4, h5, h6
      margin 0px

    h5
      font-size 14px
      color rgba(255,255,255,0.7)
      margin 0px
      padding 0px
      
    p
      margin 10px 0px 0px 0px

  .article
    border-top 1px solid rgba(255, 255, 255, 0.25)
    padding 20px 0
    .header
      position relative
      height 50px
      margin-bottom 20px
      line-height 1
      img
        width 50px
        height 50px
        border-radius 50%
      .user, .timestamp
        position absolute
        left 60px
      .user
        top 5px
        color #FFF
        text-decoration none
        &:hover
          border-bottom 1px solid
      .timestamp
        bottom 5px
        color rgba(255, 255, 255, 0.53)

  .hashtagJulradio
    font-size 20px
    margin-bottom 10px
    display block

  .compose
    position relative
    padding 10px
    background #FFF
    margin 10px 0
    border-radius 3px
    color #000
    noUserSelect()

  .tweets
    max-height 1000px
    overflow-y scroll
    border-radius 3px