#Schedule
  margin-bottom 20px
  text-align center
  border-radius 5px
  overflow hidden
  section
    padding 20px 0
    &.fst
      background rgba(245, 55, 55, 0.2)
    &.snd
      background rgba(230, 103, 103, 0.11)

  header
    width 110px
    margin 0 auto
    padding-bottom 5px
    font-size 22px
    font-weight 600
    border-bottom 2px solid #FFF

.Reservation
  margin-top 20px
  padding 0 10px
  font-weight 400
  line-height 1.4
  a:hover
    border-bottom 1px solid
  .description
    color rgba(255, 255, 255, 0.6)

#Front
  .compose
    position relative
    margin-bottom 10px
    padding 10px
    color #000
    background #FFF
    border-radius 3px
    noUserSelect()

  .Feed
    max-height 1000px

  .informer
    font-size 13px
    font-style italic
    color rgba(255, 255, 255, 0.67)
    width 100%
    text-align center
    margin -5px 0px 10px 0px
    display block

  .article
    margin-bottom 30px
    padding-bottom 10px
    border-bottom 2px solid rgba(255, 255, 255, 0.4)
    &:last-child
      border-bottom none
      
  .kommenterapls
    font-size 13px
    
    i
      font-size 14px
  
.comment
  border-bottom 1px solid rgba(255,255,255,0.2)
  padding 10px 0px
  
  .commentPic
    width 50px
    height 50px
    border-radius 50%
    background white
    float left
    
  .commentUser
    height 30px
    margin-left 60px
    line-height 38px
    
  .commentText
    margin-left 60px
    margin-top 10px
    font-size 14px
  
  .commentTime
    font-size 12px
    height 20px
    margin-left 60px
    line-height 12px
    color rgba(255,255,255,0.5)
    
.commentsInput
  background #FFF !important
  border-radius 3px !important
  margin 10px 0px !important
  padding 14px 10px 10px 14px !important
  width 50% !important
  color #333 !important