#NotFound
  display flex
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  flex-direction column
  align-items center
  justify-content center
  h1
    color #FFF
    font-family 'Lobster'
    margin-bottom 10vh
  img
    height 60vh