.changeBtn
  cursor: pointer;
  border: 0px;
  background: rgba(255,255,255,0.2);
  color: #FFF;
  padding: 8px 13px;
  border-radius: 3px;
  margin: 10px 0px;
  
.changeInput
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  height: 43px;
  width: 400px;
  margin-top: 10px;