@keyframes stretch
  from
    max-height 0px
  to
    max-height 140px

#Settings
  max-width 600px
  
  button
    background rgba(255,255,255,0.15)
    border-radius 4px
    color white
    padding 10px 15px
    font-size 13px
    margin-right 10px
    width 90px
    
  h1
    margin-bottom 40px
    font-size 35px

  .ProfilePicture
    width 90px
    height 90px

  .ani
    animation stretch .2s
    overflow hidden

  .confirmation
    display flex
    padding-left 130px
    margin-bottom 20px
    p
      margin 0px
      color rgba(255, 255, 255, 0.48)

    .btn
      margin-left 20px