@keyframes stretch
  from
    max-height 0px
  to
    max-height 140px

#settings-v2
  h1
    margin-bottom 40px
    font-size 35px
  h2
    margin-top 0
    font-size 26px
  p
    margin-top 10px
    color rgba(255, 255, 255, 0.48)

  label
    display block
    width 100%
    max-width 530px
    margin-bottom 20px
    overflow-y hidden
    position relative
    .label
      font-size 14px
      opacity .5
      display inline-block
      width 130px
      height 47px
      line-height 47px
    input, select
      display inline-block
      width calc(100% - 130px)
      padding 14px 0
      font-size 16px
      color #FFF
      border none
      border-bottom 2px solid rgba(255, 255, 255, 0.2)
      background none
    button
      display inline-block
      font-size 18px
      background rgba(255, 255, 255, 0.19)
      border none
      border-radius 3px
      padding 12px 0
      width 80px
      margin-left 20px
      color #FFF
    p
      text-align right
      padding-left 130px
    &.ani
      animation stretch .2s
