#UserProfile
  max-width 580px
  margin 0 auto
  main
    width 100%
    text-align center
    padding 50px 0 20px
    font-size 14px
    color rgba(255, 255, 255, 0.7)
    .picture
      position relative
      width 170px
      height 170px
      margin 0 auto 10px auto
      &:hover .status span
        opacity 1
        
      .ProfilePicture
        width 100%
        height 100%
      .status
        position absolute
        top 30px
        left 150px
        width 120px
        display flex
        align-items center
        .indicator
          width 15px
          height 15px
          background #56f38a
          border-radius 50%
          margin-right 5px
          
        span
          opacity 0

    .name
      color #FFF
      margin-bottom 6px
      font-size 27px
      font-weight 100
      font-family Lobster
      line-height 30px
      hardcoreHyphens()

    .title
      color #EA524E
      margin-bottom 2px

    .misq
      color rgba(255, 255, 255, 0.65)
      margin-bottom 2px

  .ProfileOptions
    displayFlex()
    margin 0 -3px 6px
    .action
      // Centering text
      displayFlex()
      align-items center
      justify-content center
      text-align center

      // Setting size
      flex-grow 1
      width 0
      margin 0 3px
      padding 10px 0

      // Style
      border-radius 3px
      background rgba(201, 94, 94, 0.2)
      cursor pointer
      noUserSelect()

  .description
    margin-bottom 6px
    padding 14px
    border-radius 4px
    background rgba(201, 94, 94, 0.2)
    hyphens()
    a
      color rgba(255, 255, 255, 0.6)
    a.highlight
      color #FF0
    a:hover
      border-bottom 1px solid
  
  .blockage
    text-align center
    font-size 17px
    margin 20px 0px