#footer
  padding 20px 30px
  margin-bottom 50px
  +desktop()
    padding 40px 60px
  .footerLogo
    font-family Lobster
    font-size 24px
    margin-bottom 10px
    display block
        
  .section
    float left
    display table
    .fRow
      display table
      line-height 20px
      height 20px
      .fRowOne
        width 120px
        float left
        font-weight bold
        color rgba(255,255,255,0.9)
        
      .fRowTwo
        margin-right 70px
        float left
        color rgba(255,255,255,0.7)