#header
  display flex
  align-items center
  justify-content space-between
  padding 0 30px
  background rgba(255, 0, 0, 0.3)
  height 84px
  position relative
  +desktop()
    padding 0 60px
    
  .fa
    margin-right 5px
    
  .slogan
    position: absolute;
    left: 84px;
    top: 53px;
    font-size: 13px;

  .julradio
    color #FFF
    font-size 46px
    height 80px
    font-family 'Lobster'
    text-decoration none
    transition color .2s
    &:hover
      color rgba(255, 255, 255, 0.78)

  .user
    margin-top 5px
    
    .menuDivider
      display: inline-block;
      width: 1px;
      background-color: #FFF;
      height: 24px;
      margin: 0px 5px -7px 8px;
      
    .bigIco
      margin: 0px;
      font-size: 20px;
      display: table-caption;
      margin-bottom: -5px;
    
    button
      margin-left 4px
      padding 2px 6px
      background rgba(0,0,0,0)
      color #FFF
      cursor pointer
      border none
      border-radius 3px
      font-family 'Proxima Nova Regular'