#header
  position relative
  height 100px
  margin 0 auto
  .logo
    position absolute
    bottom 8px
    left 30px
    font-size 46px
    color #FFF
    text-decoration none
    &:hover
      color #a00
  .julradio
    font-family 'Lobster'
  .slogan
    font-size 13px
    position absolute
    width 200px
    top 52px
    left 21px
  .user
    position absolute
    right 0px
    bottom 10px
    .details
      margin 10px
      text-align right
    a
      color white
      display inline-block
      vertical-align middle
      margin-right 10px
      font-size 24px
