// rgba(147, 43, 43, 0.7)
// rgba(189, 66, 66, 0.66)
// rgba(80, 34, 34, 0.61)

#header-v2
  position relative
  padding 20px 60px
  align-items center
  background rgba(147, 43, 43, 0.7)
  background rgba(255, 0, 0, 0.3)
  .logo
    font-size 38px
    font-family 'Lobster'
    color #FFF
    text-decoration none
  .now-playing
    position relative
    padding 16px 20px
    border-radius 2px
    box-shadow 0px 1px 1.5px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12)
    background rgba(255, 255, 255, 0.25)
    .meta
      margin-right 10px
      font-family 'Proxima Nova Semibold'
      color rgba(255, 255, 255, 0.56)
  .login-btn
    float right
    padding 0px
    font-family 'Proxima Nova Semibold'
    color rgba(255, 255, 255, 0.32)
    border none
    background none
  
  .host
    margin-top 14px
    .avatar
      float left
      width 80px
      height 80px
      margin-right 10px
      border-radius 5px
      background url("/images/berkleyill.jpg") repeat scroll 0px -10px / 80px auto
    .meta
      float left
    .meta-1
      font-family 'Proxima Nova Semibold'
      color rgba(255, 255, 255, 0.51)

.play-container-v2
  position absolute
  display flex
  right 0
  top 0
  bottom 0
  width 56px
  border none
  background none
  cursor pointer
  padding 0
  &:hover:after
    width 100%
    height 100%
  &:hover:active:after
    background rgba(255, 255, 255, 0.06)
  &:after
    content ''
    position absolute
    height 0
    width 0
    left 0
    right 0
    top 0
    bottom 0
    margin auto
    z-index -1
    background rgba(255, 255, 255, 0.25)
    transition width .2s, height .2s, background .2s
  i
    font-size 22px
    color #FFF
  span
    position absolute
    left 0px
    bottom 0px
    width 100%
    font-size 15px
    color #FFF