#menu
  width 100%
  margin 0 auto
  background rgba(255, 0, 0, 0.22)
  ul
    padding 0px
    margin 0px
    list-style-type none
  li
    display inline-block
    margin 0
  a
    text-decoration none
    display block
    padding 16px 20px
    color rgba(255, 255, 255, 0.3)
    transition all 0.1s ease 0s
    &:hover
      color #FFF