#MobileHeader
  displayFlex()
  align-items center
  position fixed
  z-index 1
  height 50px
  width 100%
  background rgba(140, 17, 17, 0.95)
  transition opacity .4s
  +desktop()
    display none

  svg
    position absolute
    height 100%
    top 0
    left 20px
    width 24px
    cursor pointer

  a.logo
    margin 0px auto
    font-family 'Lobster'
    font-size 32px
    transition opacity .2s
    &:hover
      opacity 0.6
      transition none