#MobileHeader
  display flex
  align-items center
  position fixed
  z-index 1
  height 50px
  width 100%
  background rgba(140, 17, 17, 0.95)
  transition opacity .4s
  
  .openMenu
    background none
    color white
    font-size 24px
    padding 8px 16px

  +desktop()
    display none
  button
    position absolute
  a.logo
    margin 0px auto
    font-family 'Lobster'
    font-size 32px
    transition opacity .2s
    &:hover
      opacity 0.6
      transition none