@keyframes spawn
  from
    transform rotateX(-70deg)
  to
    transform rotateX(0deg)

#ModalContainer
  position fixed
  z-index 1
  displayFlex()
  align-items center
  top 0
  left 0
  width 100%
  height 100%
  background rgba(14, 44, 56, 0.6)
  opacity 0
  transition opacity 0.15s ease-in-out
  pointer-events none
  &.visible
    opacity 1
    pointer-events auto
    .Modal
      transform rotateX(0deg)

.Modal
  width 540px
  max-width calc(100% - 40px)
  margin 0 auto
  padding 30px 20px 50px
  background #9F2C2C url('/images/dark-red-christmas-background.jpg') center / 200%
  border-radius 5px
  overflow hidden
  z-index 1
  box-shadow 0 0 20px rgba(0, 0, 0, 0.3)
  transform rotateX(-70deg)
  animation spawn .4s cubic-bezier(0.12, 0.4, 0.29, 1.455)
  transition transform .4s cubic-bezier(0.12, 0.4, 0.29, 1.455)
  +mobile()
    padding 30px 50px 50px
    
  .cantwishyetbro
    text-align center

  header
    display table
    margin 0px auto 30px
    padding-bottom 2px
    letter-spacing -1px
    font-size 20px
    text-align center
    text-transform uppercase
    color rgb(255, 255, 255)
    border-bottom 1px solid rgb(221, 0, 0)

  label
    padding-left 20px
    text-transform uppercase
    font-size 12px
    color #C56360

  input, button, textarea
    color #FFF
    width 100%
    height 54px
    margin 0 0 10px 0
    padding 0 20px
    border none
    background rgba(163, 35, 35, 0.48)
    border-radius 3px
    &[disabled]
      cursor auto
      opacity 0.5

  textarea
    height 100px
    padding 10px 20px
    resize none

  button
    margin-top 0px

  .misq
    display inline-block
    float right
    color #9C504E
    cursor pointer
    
.ChangeAvatar
  .ProfilePicture
    width 200px
    height 200px
    margin 0 auto
    margin-bottom 35px
  .avatarPreview
    height 200px
    width 200px
    margin 0 auto
    margin-bottom 35px
    background-position 50%
    background-size 100%
    background-repeat no-repeat   // :(
    border-radius 50%