#Sidebar
  position fixed
  z-index 1
  top 0
  left 0
  width 300px
  height 100%
  background rgba(165, 27, 27, 0.7)
  transform translateX(-300px)
  transition transform .4s
  //overflow-x hidden
  //overflow-y auto
  +desktop()
    background rgba(165, 27, 27, 0.25)
    
  @media (max-height: 700px)
    width 80%
    background #a51b1b
    
    #Player
      bottom 0px !important
      position absolute !important
    
    .loginArea
      padding 10px 0px !important
      background rgba(0,0,0,0) !important
      .option
        height 40px !important
        
    hr
      display none !important
        
    .userAction
      display table !important
      text-align center !important
      font-size 14px !important
      width 100%
      padding 8px !important
      margin-top 2px !important
      color #a51b1b !important
      background #fff !important
      font-weight 400 !important
      background rgba(0,0,0,0.03) !important
      color #fff !important
      
      span
        color #fff !important
        font-weight 400 !important
      
      svg
        display none !important
        
    .shortcuts
      a
        display table !important
        text-align center !important
        font-size 14px !important
        width 100%
        padding 8px !important
        margin-top 2px !important
        color #a51b1b !important
        background #fff !important
        font-weight 400 !important
        background rgba(0,0,0,0.03) !important
        color #fff !important
        
    .divider
      display none !important
      
    .inner
      padding-top 0px !important
      display block !important
      text-align center
      
      
    .user
      padding 10px !important
      display block !important
      margin 0px 0px !important
      background rgba(0,0,0,0.03) !important
      .ProfilePicture, hr
        display none !important
        
    .logo a
      font-size 32px !important
      
    .unseenCircle
      display none
      

//END OF MOBILE

  +desktop()
    transform none
    transition none
    
  &.playerLess
    padding-bottom 60px

  .inner
    displayFlex()
    flex-direction column
    align-items center
    justify-content space-between
    height 100%
    padding-top 30px
    min-height 600px

  .divider
    height 2px
    width 40%
    background rgba(255, 255, 255, 0.3)

  .logo
    text-align center
    a
      color #FFF
      font-size 52px
      font-family 'Lobster'
      transition opacity .2s
      &:hover
        opacity 0.6
        transition none
    hr
      width 100px
      margin 0px auto
      color #FFF

  .user
    position relative
    text-align center
    .unseenCircle
      position absolute
      right 0px
      top 0px
      displayFlex()
      align-items center
      width 30px
      height 30px
      border-radius 50%
      background #E1322D
      span
        margin 0 auto
    .ProfilePicture
      width 140px
      height 140px
      margin 0 auto 10px
    .handle
      font-size 14px
      color rgba(255, 255, 255, .5)

  .loginArea
    width 100%
    padding 50px 0px
    background rgba(255, 0, 0, 0.1)
    .option
      displayFlex()
      align-items center
      justify-content center
      width 200px
      height 50px
      margin 0 auto
      padding 10px
      color #FFF
      border 1px solid rgba(255, 255, 255, 0.22)
      border-radius 3px
      cursor pointer
      span
        margin-right 3px

  .userAction
    padding 0
    color #FFF
    background none
    position relative
    &:hover span
      color #FFF
      text-decoration underline
    .notification
      color red
      position absolute
      left 50%
      top 25%
      transform translate(-50%, -50%)
      font-size 13px
      font-weight bold
    svg
      display block
      width 32px
      height 40px
      margin 0 auto 6px auto
    span
      font-size 13px
      color rgba(255, 255, 255, 0.73)
      transition color .1s ease-in-out

  .shortcuts a
    display table
    margin 0 auto
    text-align center
    font-size 13px
    color rgba(255, 255, 255, 0.73)
    transition color .1s ease-in-out
    &:hover
      color #FFF
      text-decoration underline

#Player
  width 100%
  .program
    padding 10px
    text-align center
    background rgba(23, 8, 8, 0.1)

#Player .main
  height 80px
  width 100%
  background rgba(0, 0, 0, 0.26)
  .songTitle
    white-space nowrap
    overflow hidden
    &:hover
      text-decoration underline
  svg.dots
    width 100%
    height 100%
    cursor pointer
    vertical-align middle
  .shit
    float left
    width 80px
    height 100%
    position relative
    .playPause
      cursor pointer
      position absolute
      width 100%
      height 100%
      background rgba(0,0,0,.1)
      cursor pointer
      text-align center
      svg
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
    .ProfilePicture
      position absolute
      left 0 
      top 0
      width 100%
      height 100%
      border-radius 0
  .titleControls
    displayFlex()
    flex-direction column
    justify-content space-between
    height 100%
    padding 14px
    .controls
      displayFlex()
      //align-items center
      //justify-content space-between
      a.host
        font-weight 400
        &:hover
          border-bottom 1px solid
      .item
        width 18px
        height 18px
        margin-right 12px
      .hampurgerMenu
        position absolute
        right 10px

#Hampburger
  position absolute
  bottom 32px
  background #CD2828
  left 50%
  width 180px
  padding-bottom 10px
  border-radius 5px
  z-index 100
  transform translateX(-50%)
  visibility hidden
  opacity 0
  transition visibility .25s, opacity .25s ease
  noUserSelect()
  &.visible
    visibility visible
    opacity 1
    transition none
    transition-delay 0s
  .media
    color #FFF
    font-size 15px
    width 100%
    padding 5px
    display block
    svg
      height 15px
      margin 3px 10px 0px 10px
      float left
    &:hover
      background rgba(0, 0, 0, 0.07)
  .volumeControl
    displayFlex()
    height 50px
    align-items center
    justify-content space-between
    margin-bottom 10px
    padding 0 20px
    background rgba(0, 0, 0, 0.1)
    svg
      width 20px
      height 20px
      cursor pointer

#VolumeSlider
  height 8px
  width 100px
  border-radius 10px
  cursor pointer
  position relative
  background #900
  .volume
    position absolute
    pointer-events none
    display inline-block
    height 100%
    border-radius 10px
    left 0
    background #FFF
  .handle
    position absolute
    display inline-block
    margin-top -2px
    transform translateX(4px)
    right 0
    width 12px
    height 12px
    border-radius 50%
    background #FFF
    box-shadow 0 0 0px 3px rgba(255,255,255,.5)
