.hashtagJulradio
  font-size 20px
  margin-bottom -5px
  display block

.tweetBox
  padding 10px
  background rgba(255, 0, 0, 0.3)
  margin 10px 0px 0px 0px
  border-radius 3px
  overflow hidden
  
  a
    text-decoration none
    color white
  
  .profileImg
    border-radius 50%
    width 30px
    float left
    
  .user
    font-weight bold
    display block
    height 30px
    line-height 30px
    margin-left 37px
    
  .text
    display block
    color rgba(255,255,255,0.7)
    margin-top 5px